.site-layout-content {
    min-height: 380px;
    padding: 95px !important;
}

.ant-tabs-nav-list span {
    font-size: 20px;
}

.ant-tabs-nav .ant-tabs-tab {
    width: 200px;
    justify-content: center;
}